@import "../../locals/css/variables.scss";

header#main-header{
    width: 100%;
    height: 60px;
    background: $listbg;
    font-size: 18px;
    font-weight: bold;
    color: $textcolor;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}